@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
main {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

main {
  margin: 5% 0;
}

@media screen and (max-width: 530px) {
  main {
    height: 100%;
    margin: 20px 0;
  }
}

.profile_logo {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.profile_name {
  z-index: 2;
  margin-left: 10px;
}

.profile_name h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
}

@media screen and (max-width: 530px) {
  .profile_name h1 {
    font-size: calc(calc(1vw + 1vh) * 1);
  }
}

.profile_name p {
  margin-top: 3px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 530px) {
  .profile_name p {
    font-size: calc(calc(1vw + 1vh) * 1);
  }
}

.profile_content {
  z-index: 2;
}

.profile_content h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.1rem;
  margin: 20px 0;
  color: white;
}

@media screen and (max-width: 530px) {
  .profile_content h1 {
    font-size: calc(calc(1vw + 1vh) * 1.5);
  }
}

.profile_content p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 0.6rem;
  color: white;
  opacity: 0.7;
  margin-bottom: 10px;
}

@media screen and (max-width: 530px) {
  .profile_content p {
    font-size: calc(calc(1vw + 1vh) * 1);
  }
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 60vw;
}

@media screen and (max-width: 1024px) {
  section {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  section {
    width: 90vw;
  }
}

@media screen and (max-width: 530px) {
  section {
    display: -ms-grid;
    display: grid;
    width: 90vw;
    height: 100%;
    -ms-grid-columns: 2fr 0 0 0;
        grid-template-columns: 2fr 0 0 0;
    grid-column-gap: 0;
  }
}

section .grid__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 10px 15px 40px -30px #19212e;
          box-shadow: 10px 15px 40px -30px #19212e;
}

section .grid__group .profile_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .one {
  background-color: #7541c8;
  padding: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

section .one .bg_img {
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  z-index: 1;
}

section .one .profile_logo {
  border: 2px solid #9d82c9;
}

section .two {
  background-color: #48556a;
  padding: 20px;
  grid-auto-columns: 10%;
  grid-auto-columns: 33.3%;
}

@media screen and (max-width: 530px) {
  section .two {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

section .three {
  background-color: white;
  padding: 20px;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

section .three h1 {
  color: #19212e;
}

section .three p {
  color: #19212e;
  opacity: 0.7;
}

@media screen and (max-width: 530px) {
  section .three {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 5;
  }
}

section .four {
  background-color: white;
  padding: 20px;
}

section .four h1 {
  color: #19212e;
}

section .four p {
  color: #19212e;
  opacity: 0.7;
}

@media screen and (max-width: 530px) {
  section .four {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

section .five {
  background-color: #19212e;
  padding: 20px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

section .five .profile_logo {
  border: 2px solid #7541c8;
}

@media screen and (max-width: 530px) {
  section .five {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
}

footer {
  display: block;
  margin-bottom: 10px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
